body {
    background-color: #FEEFD7;
    display: flex;
    align-items: center;
    justify-content: center;
}

rect {
    fill: #B1B0B1;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    max-width: 200px;					
    min-height: 5px;					
    padding: 10px;				
    font: 12px sans-serif;		
    background: rgb(255, 255, 255);	
    border: 0px;		
    border-radius: 3px;			
    pointer-events: none;			
}

.demographic-tag {
    padding: 7px 14px;
    background-color: #eeeeee;
    border: solid 1px #ddd;
    border-radius: 30px;
}

/* bootstrap override */
.modal-header {
    border: 0px;
}
.modal-footer {
    border: 0px;
}
