body {
    display: grid;
    grid-template-rows: 90px 15px 43px 13px auto;
    grid-template-columns: 150px 121px 121px 121px 121px 121px 121px 121px auto;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto Mono', monospace;
    color: gray;
}
svg {
    grid-row: 5;
    grid-column: 2 / 8;
}
rect {
    fill: white;
    position: absolute;
}


/* Tooltip */
div.tooltip {	
    position: absolute;			
    text-align: left;
    display: inline-block;
    max-width: 20rem;
    min-height: 2.5rem;								
    padding: .6rem;
    color: gray;	

    background: rgb(255, 255, 255);	
    border: 3px;
    border-radius: 1px;			
    pointer-events: none;	
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    font-family: 'Roboto Mono', monospace;		
}
.tooltip-footer {
    color: lightgray;
    font-size: 12px;
}

/* Modal bootstrap override */
.demographic-tag {
    padding: 3px 10px;
    background-color: #eeeeee;
    border: solid 1px #ddd;
}
.modal-content {
    padding: 1rem;
    border-radius: 0px !important;
    border: none;
}
.modal-header {
    border: 0px;
    padding: 5px 0px 0px 0px;
}
.modal-body {
    text-align: left;
    font-size: 15px;
}
.modal-footer {
    border: 0px;
    justify-content: flex-start;
    font-size: .8rem;
}
.modal-title {
    color: gray;
    font-size: .8rem;
    text-align: center;
}


/* Header */
.heading {
    grid-row: 1;
    grid-column: 2 / 9;
    justify-self: center;
    align-self: flex-end;
    font-size: 30px;
    color: gray;
    margin: 1rem 0 0.2rem 0;
}
.header {
    font-size: 26px;
}
.subheader {
    font-size: .7rem;
}


/* Filters */
.filter-container {
    grid-column: 1;
    grid-row: 3 / 5;
    font-size: 12px;
}
.custom-control {
    padding: 6.5px 14px 6.5px 35px;
    background-color: #e0e0e0;
    border: solid 1px rgb(214, 214, 214)
}
.custom-control-inline {
    margin: 0.2rem 0rem;
}
.custom-control-label::before,
.custom-control-label::after {
    width: 12px;
    height: 12px;
    background-color: lightgray;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: gray!important;
}  
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: none;
}


/* Categories */

.is-active {
    opacity: 100%;
  }
.is-inactive {
    opacity: 20%;
}

.achievement {
    fill: #ffdca9;
}
.affection {
    fill: #fdc7d7;
}
.bonding {
    fill: #F7B5E7;
}
.enjoy_the_moment {
    fill: #d3c7e9;
}
.exercise {
    fill: #b3cde3;
}
.leisure {
    fill: #beebe9;
}
.nature {
    fill: #c5f1c5;
}

/* Icons and text */

.icon {
    height: 40;
    size: 40;
    justify-self: center;
    align-self: center;
    grid-row: 3;
}
.icon-text {
    grid-row: 2;
    align-self: flex-start;
    justify-self: center;
    font-size: 10px;
    color: gray;
    opacity: 0;
}
.icon-proportion {
    grid-row: 4;
    justify-self: center;
    font-size: 10px;
    color: gray;
    opacity: 100%;    
}
.icon:hover {
    transform: scale(1.1);
    transition: 500;
    /* cursor: pointer; */
}
.text-is-active {
    opacity: 100%;
    transition: opacity .1s;
}
.text-is-inactive {
    opacity: 0%;
    transition: opacity .1s;
}


.achievement {
    grid-column: 2;
}
.affection {
    grid-column: 3;
}
.bonding {
    grid-column: 4;
}
.enjoy_the_moment {
    grid-column: 5;
}
.exercise {
    grid-column: 6;
}
.leisure {
    grid-column: 7;
}
.nature {
    grid-column: 8;
}

/* Info */
.about-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.5rem;
    height: 40;
    size: 40;
    justify-self: center;
    align-self: center;
  }

  .about-icon-text {
    grid-row: 1;
    justify-self: center;
    font-size: 12px;
    color: gray;
}

.about-icon:hover {
    transform: scale(1.1);
    transition: 500;
    cursor: pointer;
}